* {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;

}

.nav {
    background-image: url(home-banner-ri.webp);
    width: 100%;
    height: 880px;
    background-repeat: no-repeat;
    background-size: cover;

}

.nav1 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.nav1 ul {
    margin-top: 85px;
    margin-right: 250px;
}

.nav1 li {
    display: inline;
}

.nav1 a {
    font-size: 25px;
    color: white;
    padding: 25px;
    text-decoration: none;
}

.nav1 a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav1 img {
    margin-left: 150px;
}

.nav2 {
    color: white;
    margin-top: 400px;
    line-height: 1.9;
    width: auto;
}

.nav2 h1 {
    font-size: 54px;
    font-family: Raleway, sans-serif;
}

.nav2 h5 {
    font-size: 34px;
    font-family: Raleway, sans-serif;

}

.nav3 {
    display: flex;
    height: 120px;
    width: 80%;
    margin-top: 45px;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav3 select {
    border-radius: 5px;
    font-size: 24px;
    padding: 6px 56px 10px 26px;
    margin: 8px 16px 8px 6px;
    cursor: pointer;
}

#long {
    font-size: 24px;
    padding: 6px 96px 10px 26px;
    margin: 8px 16px 8px 26px;
}

#short {
    padding: 6px 56px 10px 26px;
    margin: 8px 16px 8px 16px;
}

#man {
    padding: 6px 56px 10px 26px;
    margin: 8px 16px 8px 6px;
}

.hi {
    padding-left: 28px;
    padding-top: 10px;
    font-size: 20px;
    font-family: Raleway, sans-serif;
}

#diff {
    padding-right: 40px;
    font-size: 22px;
    font-family: Raleway, sans-serif;
}

.nav3 button {
    border-color: #53b9d2;
    background-color: #53b9d2;
    color: white;
    padding: 15px 27px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.someone {
    height: 650px;
    width: 100%;
    background-color: #f1f1f2;
}

.someone1 {
    height: 500px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.someone h1 {
    color: #ff5a60;
    padding: 60px 0px;
    font-size: 54px;
    width: 100%;
    height: 100px;
    font-family: Raleway, sans-serif;
}

.some {
    width: 25%;
    height: 450px;
    line-height: 1.7;
    font-family: Raleway, sans-serif;
}

.some img {
    margin-top: 35px;
    width: 180px;
    height: 200px;
    cursor: pointer;
}

.some a {
    font-size: 26px;
    color: #00bcd5;
    margin-top: 53px;
    text-decoration: dotted;
}

.some a:hover {
    text-decoration: underline;
}

.some p {
    color: #72727d;
    font-size: 22px;
    margin-bottom: 32px;
}

.mainsection {
    width: 100%;
    height: 3300px;
    font-family: Raleway, sans-serif;
    text-align: center;
}

.mainsection h1 {
    color: #ff5a60;
    padding: 150px 0px;
    font-size: 54px;
    width: 100%;
    height: 100px;
    font-family: Raleway, sans-serif;
}

#hh {
    color: #ff5a60;
    padding: 80px 0px;
    font-size: 54px;
    font-family: Raleway, sans-serif;
}

.mainsection2 {
    height: 530px;
    width: 20%;
    box-shadow: 8px 8px 30px black;
}

.mainsection2 img {
    width: 230px;
    height: 200px;
}

.mainsection2 h2 {
    font-size: 44px;
    color: #72727d;
    margin: 25px 0px 15px 0px;
}

.mainsection2 p {
    font-size: 20px;
    color: #72727d;
    padding: 20px;
    line-height: 1.3;
}

.mainsection3 {
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.mainsection1 {
    background-color: #ff5a60;
    width: auto;
    display: flex;
    padding: 25px;
    margin-top: 55px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

.mainsection1 p {
    font-size: 34px;
    padding: 15px;
}

.mainsection1 button {
    border: 2px solid white;
    width: 250px;
    background-color: #ff5a60;
    color: #ffffff;
    font-size: 25px;
    padding: 25px;
    margin-left: 105px;
    border-radius: 5px;
}

.mainsection1 button:hover {
    background-color: #ffffff;
    color: #00bcd5;
}

/* language */

.language {
    height: 310px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

.language1 {
    width: 25%;
    height: 300px;
}

.language1 hr {
    width: 80%;
    margin: 5px auto;
}

.language1 p {
    font-size: 24px;
    color: #51505d;
    padding: 23px 0px;
    text-align: center;
    line-height: 1.5;
}

.language1 h6 {
    font-size: 30px;
    color: #51505d;
    padding: 15px;
}

.language1 a {
    text-decoration: dotted;
    font-size: 24px;
    padding: 25px 0px;
    color: #00bcd5;
}

.language1 a:hover {
    text-decoration: underline;
}

.language1-handle {
    display: flex;
    justify-content: center;
}

.download {
    background-color: #eee;
    height: 100px;
    margin-top: 80px;
}

.download h1 {
    color: #ff5a60;
    padding: 30px 0px;
    margin: 25px 0px;
    font-size: 34px;
    font-weight: 200;
    font-family: Raleway, sans-serif;
}

/* lastmain */

.lastmain {
    width: 100%;
    height: 1000px;
}

.lastmain img {
    height: 80px;
    width: 80px;
    margin: 50px 0px;
}

.lastmain p {
    font-size: 23px;
    color: #72727d;
    width: 75%;
    margin: 25px auto;
    line-height: 1.5;
    text-align: justify;
}

.lastmain span {
    font-size: 23px;
    color: #00bcd5;
    width: 75%;
    line-height: 1.5;
    text-align: justify;
    cursor: pointer;
}

#don {
    margin-bottom: 125px;
}

.footer {
    height: 70px;
    width: 100%;
    background-color: #eeeeee;
}

.footer p {
    font-size: 20px;
    padding-top: 18px;
}

/* media query */

@media screen and (min-width:320px) and (max-width:767px) {
    body {
        width: auto;
    }

    .nav {
        background-image: url(mobile.jpg);
        width: auto;
        height: 820px;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .nav1 {
        width: auto;
        height: 80px;
    }

    .nav1 ul {
        margin-top: 67px;
        margin-right: 50px;
    }

    .nav1 a {
        font-size: 15px;
        padding: 15px;
    }

    .nav1 img {
        margin-left: 40px;
        margin-top: 30px;
        height: 90px;
        width: 90px;
    }

    nav2 {
        margin-top: 80px;
        line-height: 1.3;
    }

    .nav2 h1 {
        font-size: 30px;
    }

    .nav2 h5 {
        font-size: 20px;
    }

    .nav3 {
        display: inline-block;
        height: 100px;
        width: auto;
        margin-top: 15px;
    }

    .nav3 table {
        display: block;
        width: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .table2 {
        display: block;
        width: auto;
    }

    .nav3 select {
        font-size: 12px;
        padding: 6px 26px 6px 30px;
        margin: 11px 19px 10px 10px;
    }

    #long {
        font-size: 12px;
        padding: 10px 36px 10px 26px;
        margin: 8px 16px 8px 6px;
    }

    #man {
        font-size: 12px;
        padding: 6px 26px 6px 30px;
        margin: 11px 19px 10px 10px;
    }

    #short {
        font-size: 12px;
        padding: 8px 26px 8px 30px;
        margin: 11px 19px 10px 10px;
    }

    .hi {
        padding-left: 15px;
        padding-top: 10px;
        font-size: 12px;
        display: flexbox;
    }

    #diff {
        padding-right: 10px;
        font-size: 12px;
        font-family: Raleway, sans-serif;
    }

    .nav3 button {
        border-color: #53b9d2;
        background-color: #53b9d2;
        color: white;
        padding: 6px 26px 6px 30px;
        margin: 11px 19px 10px 10px;
        font-size: 12px;
        border-radius: 5px;
        cursor: pointer;
    }


    .someone {
        height: 1450px;
        width: auto;
    }

    .someone1 {
        height: 500px;
        width: 100%;
        display: inline-block;
    }

    .someone h1 {
        color: #ff5a60;
        padding: 60px 0px;
        font-size: 34px;
        width: 100%;
        height: 60px;
    }

    .some {
        width: 80%;
        height: 370px;
        line-height: 1.7;
        margin: 35px auto;
        font-family: Raleway, sans-serif;
    }

    .some img {
        margin-top: 15px;
    }


    .mainsection {
        width: auto;
        height: 3300px;
    }

    .mainsection h1 {
        color: #ff5a60;
        padding: 40px 10px;
        font-size: 34px;
        margin: 10px auto;
        width: auto;
        height: 100px;
    }

    .mainsection3 {
        height: 520px;
        display: flex;
        justify-content: space-evenly;
        width: auto;
    }

    .mainsection2 {
        height: 460px;
        width: 80%;
        box-shadow: 8px 8px 30px black;
    }

    .mainsection2 p {
        font-size: 20px;
        padding: 20px;
        line-height: 1.4;
    }

    .mainsection2 img {
        width: 200px;
        height: 200px;
    }

    .indexv {
        display: none;
    }

    .mainsection2 h2 {
        font-size: 34px;
    }

    .mainsection1 {
        width: auto;
        display: inline-block;
        margin-top: 10px;
    }

    .mainsection1 p {
        font-size: 24px;
        display: block;
        margin-bottom: 15px;
    }

    .mainsection1 button {
        width: 170px;
        font-size: 20px;
        padding: 15px;
        margin: 15px;
    }

    #hh {
        padding: 60px 0px;
        font-size: 34px;
        width: 100%;
        height: 60px;
    }

    .language {
        height: 1050px;
        width: auto;
        display: inline-block;
        justify-content: space-evenly;
    }

    .language1 {
        width: 90%;
        height: 300px;
        margin: 25px auto;
    }

    .download {
        height: 100px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .download h1 {
        padding: 33px 0px 0px 0px;
        margin: 2px 0px;
        font-size: 24px;
    }

    .lastmain {
        width: auto;
        height: 1550px;
    }

    .lastmain img {
        height: 80px;
        width: 80px;
        margin: 30px 0px;
    }

    .lastmain p {
        font-size: 18px;
        color: #72727d;
        width: 90%;
        padding: 15px;
        margin: 35px auto;
        line-height: 1.7;
        text-align: justify;
    }

    .lastmain span {
        font-size: 23px;
        color: #00bcd5;
        width: 75%;
        line-height: 1.5;
        text-align: justify;
        cursor: pointer;
    }

    #don {
        margin-bottom: 55px;
    }

    .footer {
        height: 70px;
        width: auto;
        background-color: #eeeeee;
    }

    .footer p {
        font-size: 18px;
        padding-top: 18px;
    }
}

@media screen and (min-width:767px) and (max-width:992px) {
    body {
        width: auto;
    }

    .nav {
        width: auto;
        height: 700px;
        background-image: url(home-banner-ri1.jpg);
        background-repeat: no-repeat;
        background-size: auto;
    }

    .nav1 {
        width: auto;
        height: 80px;
    }

    .nav1 ul {
        margin-top: 90px;
        margin-right: 80px;
    }

    .nav1 a {
        font-size: 15px;
        padding: 15px;
    }

    .nav1 img {
        margin-left: 40px;
        margin-top: 30px;
        height: 130px;
        width: 130px;
    }

    nav2 {
        margin-top: 80px;
        line-height: 1.3;
    }

    .nav2 h1 {
        font-size: 30px;
    }

    .nav2 h5 {
        font-size: 20px;
    }

    .nav3 {
        display: flex;
        height: 100px;
        width: auto;
        margin-top: 15px;
    }


    .nav3 {
        display: flex;
        height: 80px;
        width: 90%;
        margin-top: 15px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .nav3 select {
        border-radius: 5px;
        font-size: 15px;
        padding: 4px 18px 5px 14px;
        margin: 5px 8px 5px 5px;
        cursor: pointer;
    }

    #long {      font-size: 15px;
        padding: 4px 18px 5px 14px;
        margin: 5% 8px 5px 5%;
    }

    #short {
        font-size: 15px;
        padding: 4px 18px 5px 14px;
        margin: 5% 8px 5px 5%;
    }

    #man {
        font-size: 15px;
        padding: 4px 18px 5px 14px;
        margin: 5px 8px 5px 5px;
    }

    .hi {
        padding-left: 5px;
        padding-top: 5px;
        font-size: 15px;
        font-family: Raleway, sans-serif;
    }

    #diff {
        padding-right: 20px;
        padding-left: 15px;
        font-size: 15px;
        font-family: Raleway, sans-serif;
    }

    .nav3 button {
        border-color: #53b9d2;
        background-color: #53b9d2;
        color: white;
        padding: 5px 7px;
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .someone {
        height: 1450px;
        width: auto;
    }

    .someone1 {
        height: 500px;
        width: 100%;
        display: inline-block;
    }

    .someone h1 {
        color: #ff5a60;
        padding: 60px 0px;
        font-size: 34px;
        width: 100%;
        height: 60px;
    }

    .some {
        width: 80%;
        height: 370px;
        line-height: 1.7;
        margin: 35px auto;
        font-family: Raleway, sans-serif;
    }

    .some img {
        margin-top: 15px;
    }


    .mainsection {
        width: auto;
        height: 3300px;
    }

    .mainsection h1 {
        color: #ff5a60;
        padding: 40px 10px;
        font-size: 34px;
        margin: 30px auto;
        width: auto;
        height: 100px;
    }

    .mainsection3 {
        height: 520px;
        display: flex;
        justify-content: space-evenly;
        width: auto;
    }

    .mainsection2 {
        height: 500px;
        width: 28%;
        box-shadow: 8px 8px 30px black;
    }

    .mainsection2 p {
        font-size: 20px;
        padding: 20px;
        line-height: 1.4;
    }

    .mainsection2 img {
        width: 200px;
        height: 200px;
    }

    .mainsection2 h2 {
        font-size: 34px;
    }

    .mainsection1 {
        width: auto;
        height: 50px;
        margin-top: 50px;
    }

    .mainsection1 p {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .mainsection1 button {
        width: 170px;
        font-size: 20px;
        padding: 8px;
        margin-top: 14px;
    }

    #hh {
        padding: 60px 0px;
        font-size: 34px;
        width: 100%;
        height: 60px;
    }

    .language {
        height: 1050px;
        width: auto;
        display: inline-block;
        justify-content: space-evenly;
    }

    .language1 {
        width: 90%;
        height: 300px;
        margin: 25px auto;
    }

    .download {
        height: 100px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .download h1 {
        padding: 33px 0px 0px 0px;
        margin: 2px 0px;
        font-size: 24px;
    }

    .lastmain {
        width: auto;
        height: 1150px;
    }

    .lastmain img {
        height: 80px;
        width: 80px;
        margin: 30px 0px;
    }

    .lastmain p {
        font-size: 18px;
        color: #72727d;
        width: 90%;
        padding: 15px;
        margin: 35px auto;
        line-height: 1.7;
        text-align: justify;
    }

    .lastmain span {
        font-size: 23px;
        color: #00bcd5;
        width: 75%;
        line-height: 1.5;
        text-align: justify;
        cursor: pointer;
    }

    #don {
        margin-bottom: 55px;
    }

    .footer {
        height: 70px;
        width: auto;
        background-color: #eeeeee;
    }

    .footer p {
        font-size: 18px;
        padding-top: 18px;
    }
}



@media screen and (min-width:993px) and (max-width:1024px) {
    body {
        width: auto;
    }

    .nav {

        width: auto;
        height: 710px;
        background-repeat: no-repeat;
        background-size: auto;

    }

    .nav1 {
        width: auto;
        height: 80px;
    }

    .nav1 ul {
        margin-top: 90px;
        margin-right: 80px;
    }

    .nav1 a {
        font-size: 15px;
        padding: 15px;
    }

    .nav1 img {
        margin-left: 40px;
        margin-top: 30px;
        height: 130px;
        width: 130px;
    }

    nav2 {
        margin-top: 80px;
        line-height: 1.3;
    }

    .nav2 h1 {
        font-size: 30px;
    }

    .nav2 h5 {
        font-size: 20px;
    }

    .nav3 {
        display: flex;
        height: 110px;
        width: auto;
        margin-top: 15px;
        overflow: scroll;
    }

    .nav3 select {
        font-size: 16px;
        padding: 8px 29px 8px 30px;
        margin: 14px 21px 12px 12px;
    }

    #long {
        font-size: 16px;
        padding: 8px 29px 8px 30px;
        margin: 14px 21px 12px 12px;
    }

    #man {
        font-size: 16px;
        padding: 8px 29px 8px 30px;
        margin: 14px 21px 12px 12px;
    }

    #short {
        font-size: 16px;
        padding: 8px 29px 8px 30px;
        margin: 14px 21px 12px 12px;
    }

    .hi {
        padding-left: 20px;
        padding-top: 10px;
        font-size: 15px;
        font-family: Raleway, sans-serif;
    }

    #diff {
        padding-right: 10px;
        font-size: 16px;
        font-family: Raleway, sans-serif;
    }

    .nav3 button {
        border-color: #53b9d2;
        background-color: #53b9d2;
        color: white;
        padding: 10px 27px;
        font-size: 15px;
        font-size: 15px;
        margin-left: 25px;
    }


    .someone {
        height: 1450px;
        width: auto;
    }

    .someone1 {
        height: 500px;
        width: 100%;
        display: inline-block;
    }

    .someone h1 {
        color: #ff5a60;
        padding: 60px 0px;
        font-size: 34px;
        width: 100%;
        height: 60px;
    }

    .some {
        width: 80%;
        height: 370px;
        line-height: 1.7;
        margin: 35px auto;
        font-family: Raleway, sans-serif;
    }

    .some img {
        margin-top: 15px;
    }


    .mainsection {
        width: auto;
        height: 3300px;
    }

    .mainsection h1 {
        color: #ff5a60;
        padding: 40px 10px;
        font-size: 34px;
        margin: 30px auto;
        width: auto;
        height: 100px;
    }

    .mainsection3 {
        height: 520px;
        display: flex;
        justify-content: space-evenly;
        width: auto;
    }

    .mainsection2 {
        height: 500px;
        width: 28%;
        box-shadow: 8px 8px 30px black;
    }

    .mainsection2 p {
        font-size: 20px;
        padding: 20px;
        line-height: 1.4;
    }

    .mainsection2 img {
        width: 200px;
        height: 200px;
    }

    .mainsection2 h2 {
        font-size: 34px;
    }

    .mainsection1 {
        width: auto;
        height: 50px;
        margin-top: 50px;
    }

    .mainsection1 p {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .mainsection1 button {
        width: 170px;
        font-size: 20px;
        padding: 8px;
        margin-top: 14px;
    }

    #hh {
        padding: 60px 0px;
        font-size: 34px;
        width: 100%;
        height: 60px;
    }

    .language {
        height: 1050px;
        width: auto;
        display: inline-block;
        justify-content: space-evenly;
    }

    .language1 {
        width: 90%;
        height: 300px;
        margin: 25px auto;
    }

    .download {
        height: 100px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .download h1 {
        padding: 33px 0px 0px 0px;
        margin: 2px 0px;
        font-size: 24px;
    }

    .lastmain {
        width: auto;
        height: 1150px;
    }

    .lastmain img {
        height: 80px;
        width: 80px;
        margin: 30px 0px;
    }

    .lastmain p {
        font-size: 18px;
        color: #72727d;
        width: 90%;
        padding: 15px;
        margin: 35px auto;
        line-height: 1.7;
        text-align: justify;
    }

    .lastmain span {
        font-size: 23px;
        color: #00bcd5;
        width: 75%;
        line-height: 1.5;
        text-align: justify;
        cursor: pointer;
    }

    #don {
        margin-bottom: 55px;
    }

    .footer {
        height: 70px;
        width: auto;
        background-color: #eeeeee;
    }

    .footer p {
        font-size: 18px;
        padding-top: 18px;
    }
}